* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(40, 163, 211);
  --color-secondary: rgb(40, 163, 211);
  --color-text-white: rgb(255, 255, 255);
  --color-text-gray: rgb(214, 218, 219);
}

h1 {
  color: var(--color-text-gray);
}
main {
  background-color: coral;
}
main > p {
  font-size: 18px;
  color: var(--color-text-gray);
}
#main {
  height: 700px;
}

section > div {
  margin: 40px;
}
.dua {
  color: orange;
}
span {
  color: purple;
}

div > div {
  color: blue;
}
section > div:nth-child(1) > div > p {
  background-color: aqua;
}

div ~ div > div > p {
  color: red;
}

section > div:nth-child(3) > div > div > div > div > span {
  background-color: chartreuse;
}
section > div:nth-child(3) > div > div > div > div + div {
  background-color: cadetblue;
}
.lorem-satu:hover {
  background-color: chocolate;
  transition: all 1s;
}

section > div:nth-child(3)::before {
  content: "ini adalah before  ";
  font-size: 18px;
  background-color: white;
}
section > div:nth-child(3)::after {
  content: "ini adalah after  ";
  font-size: 18px;
  background-color: white;
}
